.products {
  padding: 120px 20px 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover,
.product-card.clicked {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cart {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 120px 20px 50px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.cart li {
  margin-bottom: 10px;
}

.cart button {
  margin-top: 10px;
}

.productModal {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productModal .product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  width: 60%;
  height: 80%;
  
}
.productModal img {
  width: 500px;
  height: 80%;
}

.productModal .closeButton {
  top: 100px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.productModal .product-card  {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
button {
  background-color: #fff;
  color: #143d5c; 
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

li {
  list-style-type: none; 
}