.header {
    background-color: #143d5c;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .header p {
    font-size: 24px;
    font-weight: bold; 
    color: white;
  }